
node_modules/

.env

config

# Ignore system-specific files
.DS_Store
Thumbs.db

# Ignore log files
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore build artifacts (optional, if applicable)
dist/
build/